# Ignore PyInstaller build folders and spec files
build/
dist/
*.spec

# Ignore Python virtual environments
.venv/
env/

# Ignore external dependencies
MultiMonitorTool.exe
SoundVolumeView.exe

# Ignore user-specific local settings
settings.json